{% extends "account/base.html" %}
{% load static i18n tailwind_filters %}

{% block title %}{% trans "Recover Password" %}{% endblock title %}

{% block card_image %}
{#<img class="rounded-l-lg" src="{% static 'flowbite/src/images/authentication/login.jpg' %}" alt="login image">#}
<img class="rounded-l-lg" src="{% static 'images/account/password_reset_done.jpg' %}" alt="mail sent image" height="64" />
{% endblock card_image %}

{% block card_title %}
Check Your Email
{% endblock card_title %}

{% block card_content %}
<div>
    <p class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">
        If this email address exists in our system, you will receive instructions on how to reset your account password.
    </p>
</div>

<a href="{% url 'account_login' %}" type="button"
   class="py-3 px-5 w-full text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
    Continue to Login
</a>
{% endblock %}
