{% extends "account/base.html" %}
{% load static i18n tailwind_filters %}

{% block title %}User: {{ object.name }}{% endblock %}
{#{% block title %}{{ user.username }}{% endblock %}#}

{% block card_image %}
<img class="rounded-l-lg" src="{% static 'images/account/user_detail.jpg' %}" alt="profile and account settings">
{% endblock card_image %}

{% block card_title %}
Edit Nickname
{% endblock card_title %}

{% block card_content %}
<form class="mt-8 space-y-6" method="post" action="{% url 'users:update' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="mr-5 py-3 px-5 w-full text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
        Update
    </button>
</form>
<div class="text-sm font-medium text-gray-500 dark:text-gray-400">
    Back to <a href="{% url 'users:detail' user.pk %}" class="text-primary-700 hover:underline dark:text-primary-500">profile</a>
</div>
{% endblock card_content %}
