{% extends "account/base.html" %}

{% load i18n static %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block page_content %}

<div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-4 col-lg-5">
        <div class="card">
          <!-- Logo-->
          <div class="card-header pt-4 pb-4 text-center">
            <a href="#">
              <span><img src="{% static 'images/logo.png' %}" alt=""></span>
            </a>
          </div>
          <div class="card-body p-4">
            <div class="text-center w-75 m-auto">
              <h4 class="text-dark-50 text-center mt-0 fw-bold">
                {% trans "Verify Your E-mail Address" %}
              </h4>
              <p class="text-muted my-3">
                {% blocktrans %}
                We have sent an e-mail to you for verification.
                Follow the link provided to finalize the signup process.
                Please contact us if you do not receive it within a few minutes.
                {% endblocktrans %}
              </p>
            </div>
          </div> <!-- end card-body -->
        </div>
        <!-- end card -->
      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->
{% endblock %}
