{% load static i18n %}

<!-- App favicon -->
<link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

<!-- Theme Config Js -->
<script src="{% static 'assets/js/hyper-config.js' %}"></script>

<!-- App css -->
<link href="{% static 'assets/css/app-saas.min.css' %}" rel="stylesheet" type="text/css" id="app-style" />

<!-- Icons css -->
<link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />

<!-- Bootstrap JavaScript dependencies -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
