{% load static i18n %}

<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">

    <!-- Brand Logo Light -->
    <a href="{% url 'dashboard:index' %}" class="logo logo-light">
        <span class="logo-lg">
            <img src="{% static 'assets/images/logo.png' %}" alt="logo">
        </span>
        <span class="logo-sm">
            <img src="{% static 'assets/images/logo-sm.png' %}" alt="small logo">
        </span>
    </a>

    <!-- Brand Logo Dark -->
    <a href="{% url 'dashboard:index' %}" class="logo logo-dark">
        <span class="logo-lg">
            <img src="{% static 'assets/images/logo-dark.png' %}" alt="dark logo">
        </span>
        <span class="logo-sm">
            <img src="{% static 'assets/images/logo-dark-sm.png' %}" alt="small logo">
        </span>
    </a>

    <!-- Sidebar Hover Menu Toggle Button -->
    <div class="button-sm-hover" data-bs-toggle="tooltip" data-bs-placement="right" title="Show Full Sidebar">
        <i class="ri-checkbox-blank-circle-line align-middle"></i>
    </div>

    <!-- Full Sidebar Menu Close Button -->
    <div class="button-close-fullsidebar">
        <i class="ri-close-fill align-middle"></i>
    </div>

    <!-- Sidebar -left -->
    <div class="h-100" id="leftside-menu-container" data-simplebar>
{#        <!-- Leftbar User -->#}
{#        <div class="leftbar-user">#}
{#            <a href="pages-profile.html">#}
{#                <img src="{% static 'assets/images/users/avatar-1.jpg' %}" alt="user-image" height="42" class="rounded-circle shadow-sm">#}
{#                <span class="leftbar-user-name mt-2">Dominic Keller</span>#}
{#            </a>#}
{#        </div>#}

        <!--- Sidemenu -->
        <ul class="side-nav">
            <li class="side-nav-title">SCREENER</li>

            <li class="side-nav-item">
                <a href="{% url 'scanner:scanner' 'stock' %}" class="side-nav-link">
                    <i class="uil-chart-line"></i>
                    <span> Stocks </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="{% url 'scanner:scanner' 'crypto' %}" class="side-nav-link">
                    <i class="uil-bitcoin-circle"></i>
                    <span> Crypto </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="{% url 'scanner:symbols' %}" class="side-nav-link">
                    <i class="uil-question-circle"></i>
                    <span> Symbols Scanned </span>
                </a>
            </li>

            <li class="side-nav-title side-nav-item mt-2">OTHER</li>

            <li class="side-nav-item">
                <a href="{% url 'markets' %}" class="side-nav-link">
                    <i class="uil-graph-bar"></i>
                    <span> Market Overview </span>
                </a>
            </li>

        </ul> <!--- End Sidemenu -->

        <!-- Help Box -->
        <div class="help-box text-white text-center">
            <a href="javascript: void(0);" class="float-end close-btn text-white">
                <i class="mdi mdi-close"></i>
            </a>
            <img src="{% static 'assets/images/svg/help-icon.svg' %}" height="90" alt="Helper Icon Image" />
            <h5 class="mt-3">STAT Trading</h5>
            <p class="mb-3">Join our community and learn #thestrat.</p>
            <a href="https://stratalerts.com" target="_blank" class="btn btn-secondary btn-sm">Upgrade</a>
        </div> <!-- end Help Box -->

        <!-- Discord Button -->
        <div class="help-box text-white text-center mt-3">
            <a href="https://stratalerts.com/discord" class="btn btn-primary" role="button">
              <i class="mdi mdi-discord"></i> {% trans "Free Discord" %} </a>
        </div> <!-- end Discord Button -->

        <div class="clearfix"></div>
    </div>
</div>
<!-- ========== Left Sidebar End ========== -->
