{% load static i18n compress %}

<!DOCTYPE html>
<html lang="en" class="dark">

{% include 'flowbite/head.html' %}

<body class="bg-gray-50 dark:bg-gray-800">
    <script>
        document.body.addEventListener('htmx:configRequest', function (evt) {
            evt.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        });
    </script>
    {% include "flowbite/nav.html" %}
    <div class="flex overflow-hidden pt-16 bg-gray-50 dark:bg-gray-900">
        {% include "flowbite/sidebar.html" %}
        <div class="fixed inset-0 z-10 bg-gray-900/50 dark:bg-gray-900/90 hidden" id="sidebarBackdrop"></div>
        <div id="main-content" class="overflow-y-auto relative w-full h-full bg-gray-50 lg:ml-64 dark:bg-gray-900">
            <main>
                <div class="px-4 pt-6">
                    {% block content %}{% endblock content %}
                </div>
            </main>
            {% include "flowbite/footer.html" %}
        </div>
    </div>

    <!-- Javascript
    ================================================== -->
    {% block javascript %}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-EQC2LKRZHV"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-EQC2LKRZHV');
        </script>
        <script>
            window.intercomSettings = {
                api_base: "https://api-iam.intercom.io",
                app_id: "lnsqh0e0"
            };
        </script>
        <script>
            // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/lnsqh0e0'
            (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/lnsqh0e0';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(document.readyState==='complete'){l();}else if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
        </script>
    {% endblock javascript %}

    {% block extra_javascript %}{% endblock %}
    <script src="{%  static 'app.bundle.js' %}"></script>
</body>

</html>
